*{
    outline: none;
    box-sizing: border-box;
}

.container{
    background-color: #8eadf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.disabled{
    opacity: 0.6;
    cursor: default;
}


//// Search form 


.search-form{
    display: flex;
    width: 33vw;
}

.search-input{
    flex-grow: 1;
    padding: 5px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 5px;
    &::placeholder {
        font-family: "Numans", sans-serif;
    }

}

.submit-search-btn{
    width: 5vw;
    border: none;
    color: white;
    background-color: rgb(45, 123, 241);
    border-radius: 5px;
    cursor: pointer;
}


/// Dropdown section


.dropdown-btn{
    position: relative;
    color: white;
    font-size: 24px;
    font-family: "Numans", sans-serif;
    
    cursor: pointer;
}

.drop-down-menu{
    cursor: default;
    position: absolute;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    top: 44px;
    left: -2px;
    display: none;
    background-color: white;
}

.open .drop-down-menu{
    display: flex;
}

.form-separator{
    text-align: center;
    color: black;
    padding-top: 25px;
}


/// Url load form

.url-form-container{
    display: flex;
    width: 100%;
}

.url-input{
    padding: 15px;
    font-size: 18px;
    flex-grow: 1;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: none;
    &::placeholder {
        font-family: "Numans", sans-serif;
    }
}

.url-form{
    display: flex;
    justify-content: center;
}

.submit-url-btn{
    background-color: #02449c;
    color: white;
    padding: 15px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}


/// File form

.file-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input{
    padding: 150px;
    background: url('/assets/header/upload-disabled.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    &:hover{
        cursor: pointer;
        transition: 500ms;
        background: url('/assets/header/upload-enabled.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.selected-file{
    cursor: pointer;
        transition: 500ms;
        background: url('/assets/header/upload-enabled.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

.file-form-container{
    display: flex;
    flex-direction: column;
}

.submit-file-btn{
    padding: 15px;
    background-color: #02449c;
    font-family: "Numans", sans-serif;
    color: white;
    border: none;
    cursor: pointer;

}


input[type=file]::-webkit-file-upload-button {
    display: none;
}

input[type='file'] {
    color: transparent;
    user-select: none;
}

.select-file{
    text-align: center;
    color: black;
    padding-bottom: 15px;

}

/// Image error 

.error{
    color: red;
    animation: shake 0.5s ease-in-out;
}


@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }