img{
    max-width: 360px;
    height: auto;
    margin: 25px;    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.unloaded{
    display: none;
}